:root {
    --cursive: "Gloria Hallelujah", cursive;
}

body {
    font-family: var(--cursive);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-wrapper{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 20px;
}
.btn {
    font-family: var(--cursive);
    font-size: 1em;
    padding: 10px 25px;
}
.variable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.computer-choice {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.computer-choice-displayer {
    height: 40px;
    display: flex;
    align-items: center;
}
.round-winner-displayer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-displayers-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100px;
}
.score-displayer {
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.game-result-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}